@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');

$white: #ffffff;
$lightGrey: #f6f6f6;
$mediumGrey: #d8d8d8;
$darkGrey: #9d9d9d;
$textGrey: #2d2d2d;
$logoOrange: #f3be66;
$logoMidOrange: #f39566;
$logoMidPink: #f366dc;
$logoPurple: #ce10fa;
$dustyPurple: #63489b;
$darkPurple: #120a27;


body {
  margin: 0;
  padding: 0;
  color: $white;
  font-family: "Nanum Gothic", sans-serif;
}


#NavBar {
  grid-area: NavBar;
  height:60px;
  background-color: $dustyPurple;
  display: flex;
  flex-direction: row;
  justify-content: right;
  align-content: right;
}

.big-number {
  font-size: 2rem;
  color: $dustyPurple;
}

.data-label {
  color: $darkGrey;
}

  
.DataContainer {
  grid-area: DataContainer;
  display: flex;
  color: $textGrey;
  height:100%;
  align-items: center;
  justify-content: center;
  background-color: $white;
}

// .SimpleMetric {
//   background-color : green
// }